# Text Classification

In [16]:
import nltk
nltk.download('names')

[nltk_data] Downloading package names to
[nltk_data]     C:\Users\16504\AppData\Roaming\nltk_data...
[nltk_data]   Package names is already up-to-date!

True

In [70]:
from nltk.corpus import names

In [71]:
names = ([(name, 'male') for name in names.words('male.txt')] +[(name, 'female') for name in names.words('female.txt')])
print(names[:10])

[('Aamir', 'male'), ('Aaron', 'male'), ('Abbey', 'male'), ('Abbie', 'male'), ('Abbot', 'male'), ('Abbott', 'male'), ('Abby', 'male'), ('Abdel', 'male'), ('Abdul', 'male'), ('Abdulkarim', 'male')]

In [72]:
import random
random.shuffle(names)

In [73]:
len(names)

7944

In [74]:
setIndex = int(len(names)* 0.8)
setIndex

6355

In [57]:
def gender_features(word):
    return {'last_letter': word[-2:]}

In [58]:
gender_features('Shrek')

{'last_letter': 'ek'}

In [59]:
(gender_features('Shrek'), 'male')

({'last_letter': 'ek'}, 'male')

In [61]:
featuresets = [(gender_features(n.lower()), g) for (n,g) in names]
featuresets[:10]

[({'last_letter': 'ni'}, 'male'),
 ({'last_letter': 'bo'}, 'female'),
 ({'last_letter': 'ie'}, 'female'),
 ({'last_letter': 'in'}, 'male'),
 ({'last_letter': 'ur'}, 'male'),
 ({'last_letter': 'ry'}, 'male'),
 ({'last_letter': 'ia'}, 'female'),
 ({'last_letter': 'ry'}, 'male'),
 ({'last_letter': 'ia'}, 'female'),
 ({'last_letter': 'ti'}, 'female')]

In [62]:
train_set, test_set = featuresets[:setIndex], featuresets[setIndex:]

In [63]:
classifier = nltk.NaiveBayesClassifier.train(train_set)

In [64]:
classifier.classify(gender_features('Neo'))

'male'

In [65]:
classifier.classify(gender_features('Trinity'))

'female'

In [66]:
print (nltk.classify.accuracy(classifier, test_set))

0.788546255506608

In [68]:
classifier.show_most_informative_features(10)

Most Informative Features
             last_letter = 'na'           female : male   =     89.3 : 1.0
             last_letter = 'la'           female : male   =     65.7 : 1.0
             last_letter = 'ia'           female : male   =     48.1 : 1.0
             last_letter = 'sa'           female : male   =     31.5 : 1.0
             last_letter = 'ta'           female : male   =     28.1 : 1.0
             last_letter = 'rd'             male : female =     27.3 : 1.0
             last_letter = 'us'             male : female =     23.5 : 1.0
             last_letter = 'ra'           female : male   =     21.9 : 1.0
             last_letter = 'rt'             male : female =     20.6 : 1.0
             last_letter = 'do'             male : female =     20.5 : 1.0

`* This listing shows that the names in the training set that end in na are female 89 times more often than they are male, but names that end in rd are male 27 times more often than they are female. These ratios are known as likelihood ratios, and can be useful for comparing different feature-outcome relationships.`